*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #202124;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}

h1{
    margin-bottom: 20px;
    font-size: 40px;
}

#status{
    margin-bottom: 25px;
    font-family: 22px;
    font-weight: bold;
}

#keyboard{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
    margin-bottom: 40px;
}

.key{
    width: 90px;
    height: 320px;
    background: white;
    border: 3px solid #000;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 18px;
    transition: 0.08s;
    color: black;
    font-size: 28px;
    font-weight: bold;
    user-select: none;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.key.white:hover{
    background: #d6d1d1;
}

.key.black:hover{
    background: #151515;
}

.key.active{
    background: #55ff55;
    transform: translateY(8px);
    box-shadow: inset 0px 0px 18px rgba(0, 0, 0, 0.35);
}

#whiteKey{
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

#blackKey{
    display: flex;
    align-items: flex-end;
}

.black{
    position: absolute;
    background: black;
    color: white;
    height: 150px;
    top: 0px;
    z-index: 10;
}

#key2 { left: 49px; }   /* C# */
#key4 { left: 147px; }  /* D# */
#key7 { left: 343px; }  /* F# */
#key9 { left: 441px; }  /* G# */
#key11{ left: 539px; }  /* A# */